---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab Pages vs. GitHub Pages | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_pages_vs_github_pages, product_one: competitors.gitlab_pages, product_two: competitors.github_pages, key_one: :gitlab_pages, key_two: :github_pages }
